{% extends "template.html"%}
{% block conteudo %}
	<style>
		main {
			padding: 2em;
		}

		main form {
			margin: 2em auto;
			width: 50%;

		}

		main form input {
			margin-bottom: 1em;
		}
	</style>
	
	<main class="container text-center">
		<h1>Login</h1>
		<h4>Para poder usufruir de nossos produtos, entre no nosso site!</h4>
		<form id="contact-form" method="POST" action="{{ url_for('autenticar') }}">
			<div class="">
				<input type="email" class="form-control" name="email" placeholder="email" required="">
			</div>
			<div class="">
				<input type="password" class="form-control" name="password" placeholder="senha" required="">
			</div>
			<div class="">
				<button id="submit" type="submit" class="form-control bg-dark text-light" name="submit">
					Login
				</button>
				<button class="form-control bg-dark text-light">
					Cadastro
				</button>
			</div>
		</form>
	</main>	

{% endblock %}