{% extends "template.html" %}
{% block conteudo %}
  <form action="{{ url_for('create')}}" method="POST">
    <fieldset>
      <div class="form-group">
        <label for="imagem">Imagem</label>
        <input type="text" id="imagem" name="imagem" class="form-control">
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" name="descricao" class="form-control">
      </div>
      <div class="form-group">
        <label for="valor">Valor</label>
        <input type="number" id="valor" name="valor" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
      <a href="/" class="btn btn-primary btn-salvar">Voltar</a>
    </fieldset>
  </form>
{% endblock %}